<!--

    About CloudSq

    about.html

-->


<section class="cs-about about-page-wrap">
    <article>
        <h1>About <small>CloudSquare</small></h1>

        <blockquote class="space-top-dbl">
            <h2>CloudSquare is a minimal user platform.</h2>
        </blockquote>

        <h3>
            <a href="mailto:about@cloudsq.com" ng-hide="user.username">about@cloudsq.com</a>
            <a href="mailto:support@cloudsq.com" ng-show="user.username">support@cloudsq.com</a>
        </h3>
    </article>

    <ol class="block smooth">
        <li><a href="/register">Register in <strong>10 seconds</strong></a></li>
        <li>Create content chunks, using
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a></li>
        <li><a href="/">Explore other squares</a></li>
        <li>Enjoy!</li>
    </ol>
</section>