<!--

    User Public Profile Info

    user-info.html

-->


<article class="well well-large user-info user-info-object">
    <div class="media">
        <a href="/user/{{ cloudSquareUser.username }}" class="pull-left avatar-object">
            <gravatar-image 
                class="gravatar-wrap loading-bg" 
                data-email="cloudSquareUser.email" 
                data-size="120" 
                data-rating="pg" 
                data-default="mm" 
                data-secure="true">
            </gravatar-image>
        </a>

        <div class="media-body">
            <h4 class="media-heading">About</h4>

            <p class="space-none" 
                ng-show="cloudSquareUser.description">{{ cloudSquareUser.description }}</p>
            <p class="space-none" 
                ng-hide="cloudSquareUser.description">These men are nihilists, {{ cloudSquareUser.username }}, 
                nothing to be afraid of.</p>
        </div>
    </div>
</article>

<div class="cs-user-controls user-controls">
    <a href="/" 
        class="btn btn-home btn-inverse" 
        title="CloudSquare Home">
        Cloudsq
    </a>
    <a href="/profile" 
        class="btn btn-success none" 
        ng-class="{show: cloudSquareUser.username == user.username, 
        hide: cloudSquareUser.username !== user.username}">
        Profile
    </a>

    <div class="inblock" ng-hide="cloudSquareUser.username == user.username">
        <button 
            data-square-vote="up" 
            class="btn btn-success smooth" 
            title="Appreciate User">
            &nbsp;<i class="icon-thumbs-up icon-white"></i>
            <span class="smooth active-value">Appreciated<span>
        </button>
        
        <button 
            data-square-vote="down" 
            class="btn btn-danger smooth" 
            title="Flag User">
            &nbsp;<i class="icon-thumbs-down icon-white"></i>
            <span class="smooth active-value">Flagged<span>
        </button>
    </div>
</div>
